<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='redditdude.ico') }}">
</head>

<body>
    <style>
        .btn {
            background-color: rgb(255,69,0);
        }
    </style>
    <div class="container">
        <div id="header" class="border-bottom my-3">
            <h1 class="display-3 text-center">Subreddit Summary E-mail Signup
            </h1>
            <nav class="text-center my-3">
                <a class="btn btn-outline-dark btn-lg text-decoration-none" href="{{ url_for('subrsum.home') }}" >Home</a>
                <a class="btn btn-outline-dark btn-lg text-decoration-none" href="{{ url_for('subrsum.about') }}" >About</a>
                <a class="btn btn-outline-dark btn-lg text-decoration-none" href="{{ url_for('subrsum.session_api') }}" >API</a>
            </nav>
        </div>
        
        {% for message in get_flashed_messages() %}
        <div class="container text-center">
            <div class="p-3 mb-2 bg-danger text-white">{{ message }}</div>
        </div>
        <br>
        {% endfor %}
        
        {% block main %}{% endblock %}

    </div>

<script src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
</html>